.vis-tooltip {
    border-radius: 5px;
    table, td, tr, tr:first-child {
        border: none;
    }
    tr {
        border-top: 1px solid #dee2e6;
    }
    td:last-child {
        padding-left: 10px;
    }
}

.vis-item-content {
    padding: 0 !important;
    a {
        height: 100%;
        width: 100%;
        display: block;
    }
}
