.hide_oe_website_element {
    display: none;
}

.float_left {
    float: left;
}

.not_padding_left {
    padding-left: 0;
}

.info_title {
    font-weight: 500;
    color: inherit;
    font-family: inherit;
}