/* ROCKBIRD Fonts */

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: bold;
}

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Light.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Thin.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('/rental_report_base/static/src/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Condensed';
    src: url('/rental_report_base/static/src/fonts/RobotoCondensed-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto Condensed';
    src: url('/rental_report_base/static/src/fonts/RobotoCondensed-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: bold;
}

@font-face{
    font-family: 'Roboto Condensed';
    src: url('/rental_report_base/static/src/fonts/RobotoCondensed-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto Condensed';
    src: url('/rental_report_base/static/src/fonts/RobotoCondensed-Light.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Din Pro';
    src: url('/rental_report_base/static/src/fonts/DINPro-Regular.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Din Pro';
    src: url('/rental_report_base/static/src/fonts/DINPro-Bold.otf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

.rockbird {
    &.header {
        font-family: 'Roboto';
        position: absolute;
        top: 9mm;
        left: 20.3mm;

        .rockbird_logo {
            position: absolute;
            top: 9mm;
            float: left;

            img {
                height: 16.5mm;
            }
        }

        .contactdata {
            font-family: 'Roboto';
            font-size: 9.5pt;
            white-space: nowrap;

            .contactdata_mail {
                position: absolute;
                left: 163mm;
                top: 12.7mm;
                text-align: right;
                span:first-child {
                    color: rgb(0, 172, 169);
                    font-size: 16pt;
                    font-weight: bold;
                    font-family: 'Din Pro';
                }
                span:nth-child(2) {
                    color: rgb(0, 0, 0);
                    font-size: 9.5pt;
                    font-weight: bold;
                    line-height: 1.7;
                    display: block;
                }
            }
        }
    }

    &.article {
        .consignor {
            font-family: 'Roboto';
            position: absolute;
            top: 2mm;
            left: 23.2mm;
            font-size: 8pt;
            color: rgb(111, 111, 111);
            width: 205mm;
            span:first-child {
                font-weight: bold;
            }
            span:last-child {
                right: 0;
                text-align: right;
                position: absolute;
                font-size: 9.5pt;
                color: rgb(0, 0, 0);
                bottom: 0;
            }
        }

        .page {
            font-family: 'Roboto';
            font-size: 9.5pt;
            color: rgb(0, 0, 0);
            position: absolute;
            top: 12mm;
            left: 23.2mm;
            width: 205mm;

            .partner_address {
                display: inline-block;
            }

            .invoice_details {
                float: right;
                text-align: right;
                .inv {
                    font-size: 8pt;
                    color: rgb(111, 111, 111);
                    font-weight: bold;
                    margin-right: 4mm;
                }
                table{
                    td:first-child{
                        padding-right: 2mm;
                    }
                }
            }

            .subject {
                position: absolute;
                top: 56mm;
                font-weight: bold;
            }

            .content {
                position: absolute;
                top: 33mm;
                font-size: 9.5pt;
                color: rgb(0, 0, 0);

                .products {
                    position: relative;
                    top: 13mm;

                    table {
                        text-align: right;
                        width: 205mm;
                    }

                    .product_table {

                        thead {
                            border-top: 1pt solid #6f6f6f;
                            font-size: 8pt;
                            color: rgb(111, 111, 111);
                            th:first-child {
                                width: 60%;
                                text-align: left;
                                padding-top: 2mm;
                                padding-bottom: 2mm;
                            }
                            th:nth-child(2) {
                                
                                padding-top: 2mm;
                                padding-bottom: 2mm;
                            }
                            th:nth-child(3) {
                                
                                padding-top: 2mm;
                                padding-bottom: 2mm;
                            }
                            th:nth-child(4) {
                               
                                padding-top: 2mm;
                                padding-bottom: 2mm;
                            }
                            th:nth-child(5) {
                                
                                padding-top: 2mm;
                                padding-bottom: 2mm;
                            }
                        }

                        tbody {
                            border-top: 1pt solid #6f6f6f;
                            tr{
                                border-bottom: 1pt solid #6f6f6f;
                            }
                            td{
                                vertical-align: top;
                                padding-top: 1mm;
                                padding-bottom: 1mm;
                            }
                            .line_section {
                                font-weight: bold;
                                border-bottom: 1pt solid #6f6f6f;
                            }

                            .line_note {
                                font-style: italic;
                            }
                        }
                    }

                    .total_net {

                        tbody {
                            border-bottom: 1pt solid #6f6f6f;

                            td:first-child {
                                width: 60%;
                                text-align: left;
                                vertical-align: top;
                                padding-top: 1mm;
                                padding-bottom: 2mm;
                            }

                            td:nth-child(2) {
                                width: 22%;
                                vertical-align: top;
                                padding-top: 1mm;
                                padding-bottom: 2mm;
                                font-size: 8pt;
                                color: rgb(111, 111, 111);
                                font-weight: bold;
                            }
                            td:nth-child(3) {
                                width: 22%;
                                vertical-align: top;
                                padding-top: 1mm;
                                padding-bottom: 2mm;
                            }
                        }
                    }
                    .payment_info {
                        margin-top: 8mm;
                        p{
                            span:first-child{
                                font-weight: bold;
                            }
                            span:nth-child(2){
                                font-weight: bold;
                            }
                        }
                        .thank_msg{
                            span:first-child{
                                font-weight: bold;
                                color: rgb(0,172,169);
                            }
                        }
                    }
                } 
            }
        }
    }

    &.footer {
        font-family: 'Roboto';

        .page_number {
            position: absolute;
            right: 1mm;
            float: right;
            font-size: 8pt;
            color: rgb(111, 111, 111);
            text-align: right;
            top: 9.8mm;
        }

       .company_info {
            position: absolute;
            top: 7mm;
            font-size: 8pt;
            color: rgb(111, 111, 111);
            line-height: 6pt;
            white-space: nowrap;
            left: 23.2mm;
            width: 205mm;
            border-top: 1pt solid #6f6f6f;
            padding-top: 1.5mm;

            .company_address {
                span:first-child{
                    font-weight: bold;
                }
                span:nth-child(2){
                    font-weight: bold;
                }
            }
        }
    }
}
